.questionInputContainer {
    border-radius: 0.5rem;
    box-shadow:
        0px 0.5rem 1rem rgba(0, 0, 0, 0.14),
        0px 0px 0.125rem rgba(0, 0, 0, 0.12);
    width: 100%;
    padding: 0.8rem;
    background: white;
    position: relative;
}

.questionInputContainer::after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    right: 0;
    height: 4px;
    background: linear-gradient(to right, #EA9936, #4809A4);
    border-radius: 0 0 0.5rem 0.5rem;
}

.questionInputTextArea {
    width: 100%;
    line-height: 2.5rem;
}

.questionInputLeftIcons {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 0.25rem;
    margin-right: 0.5rem;
}

.questionInputButtonsContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

@media (min-width: 992px) {
    .questionInputContainer {
        height: 5.625rem;
    }
}
